<% content_for :title, "Activity Stream Model in Couchbase" %>
<% content_for :keywords, "real time, activity, stream, real-time, tracking, activity stream, couchbase" %>
<% content_for :description, "Example Activity Stream model in Couchbase" %>
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/models">Models</a> <span class="divider">/</span>
  </li>
  <li class="active">Activity Stream</li>
</ul>

<br />
<div class="page-header">
  <h1>Activity Stream Model
		<small>Create a stream of Site Activity</small>
	</h1>
	<br />
	<p class="lead w80">This model is a sample of how to create a site activity stream for all users, or narrow the stream for a particular user through their graph.</p>
</div>

<%= render :partial => "/layouts/comments" %>