<% content_for :title, "Sample Models in Couchbase" %>
<% content_for :keywords, "modeling, sample models, models, samples, couchbase" %>
<% content_for :description, "Sample Models in Couchbase" %>
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Models</li>
</ul>

<h1>Models</h1>

<br /><br />

<h2><a href="/models/activity_stream">Activity Stream Model</a> <small>Create a stream of Site Activity</small></h2>
<p class="w60">This model is a sample of how to create a site activity stream for all users, or narrow the stream for a particular user through their graph.</p>


<br /><br />

<h2><a href="/models/product_catalog">Product Catalog Model</a> <small>Create a Product Catalog through Documents</small></h2>
<p class="w60">This model is a sample of how to create a a product catalog using Couchbase and documents, with product sku's, categories, comments, and ratings.</p>
