<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/models">Models</a> <span class="divider">/</span>
  </li>
  <li class="active">Product Catalog</li>
</ul>

<br />
<div class="page-header">
  <h1>Product Catalog Model
		<small>Create a Product Catalog through Documents</small>
	</h1>
	<br />
	<p class="lead w80">This model is a sample of how to create a a product catalog using Couchbase and documents, with product sku's, categories, comments, and ratings.</p>
</div>

<%= render :partial => "/layouts/comments" %>