<% content_for :title, "About CouchbaseModels.com" %>
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">About</li>
</ul>


<div class="row-fluid">
	<div class="span6">
		<h1>About this Site</h1>
	
		<p class="lead">
			If you are looking for horizontally scalable sub-millisecond latency in a database, Couchbase is your answer. 
		</p>
		<p>
			Couchbase is an evolutionary product from the founders of memcache and CouchDB that combined the speed of memcache (membase server) 
			with the document persistence, power and flexibility of CouchDB. 
			With in-memory optimization along with distributed storage, redundancy, and failover, you have the complete scalable package.
		</p>
	
		<p>
			This site was made with Ruby, Rails, Bootstrap and Couchbase with the help of a handful of gems:
			
			<dl class="w60" style="margin-left: 40px">
				<dt>couchbase</dt>
					<dd>The "smart client" gem for interacting with Couchbase 1.8+ servers, the developer preview editions are designed for the upcoming Couchbase 2.0</dd>

				<dt>dalli</dt>
					<dd>This simple gem by Mike Pernham is used to implement Rails.cache with Couchbaes (via memcache), until I use the new couchbase gem for Couchbase 2.0</dd>

				<dt>yettings</dt>
					<dd>A handy gem for application settings in a yaml file made available globally</dd>

				<dt>map</dt>
					<dd>Ara T Howards great gem for a Hash subclass that's better than using .with_indifferent_access</dd>

				<dt>omniauth</dt>
					<dd>What would we do without this awesome gem?</dd>

				<dt>omniauth-github</dt>
					<dd>The module specifically for Github auth</dd>

				<dt>bootstrap-sass</dt>
					<dd>Essentially converts the wonderful Twitter Bootstrap HTML/Less-CSS framework into Sass.</dd>

			</dl>
	  </p>
	
	
		<p>
			CouchbaseModels.com is unofficial, and thus is not supported directly by Couchbase, Inc. It seemed like it would be good to share
			what I have learned in the last 8 months so that others could progress in their use of Document based NoSQL using Couchbase
			with as little friction as possible. So I made this with the hope of getting collaborators and building an awesome resource!
		</p>
	</div>		
	<div class="span1">&nbsp;</div>
	<div class="span5">

		<h1>Contact Info</h1>
	
		<p>
			This site was created and is maintained by Jasdeep Jaitla, who resides in San Francisco, CA.
			You can easily reach me via <a href="http://twitter.com/scalabl3" target="_blank">Twitter</a> (@scalabl3). 
		</p>
		<p>
			I am also a frequenter on <strong>IRC</strong> (freenode.net) in 
			<br /><strong>#couchbase</strong> or 
			<br /><strong>#libcouchbase</strong> 
			<br />with the nick <strong>scalabl3</strong>.
		</p>
		<p class="lead">
			I am more than happy to help you get started, help with a complex problem, or even jump in and 
			help you design your model! 
			<br /><br />
			If I can't help you, I probably know someone who can. Don't hesitate to contact me!</p>
		
	</div>
</div>