<% content_for :title, "Couchbase Content" %>
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Couchbase Content</li>
</ul>

<h1>Couchbase Content</h1>
<p class="w60">
	There is a lot of content out there about Couchbase, written by the Community and by the Couchbase SDK team. Here is a list of what I know about, of course there is a lot I am still discovering!
</p>

<br />
<h2>Couchbase Tumblr</h2><hr>
<br />
<h4><a href="http://couchbase.tumblr.com">Couchbase Tumblr</a></h4>

<br /><br />
<h2>Community Blogs</h2><hr>
<p class="w60">
	
	<h4><a href="http://hardlifeofapo.com/creating-an-e-commerce-platform-using-couchbase-2/" target="_blank">Creating an ECommerce Platform using Couchbase 2.0</a></h4>
	by Pablo Casado <br />
	<a href="https://twitter.com/hardlifeofapo" class="twitter-follow-button" data-show-count="false">Follow @hardlifeofapo</a>
	
	<br /><br />
	
	<h4><a href="http://hardlifeofapo.com/emergency-recovery-script-from-couchbase-disaster" target="_blank">Data Recovery Script for Couchbase 2.0 Developer Preview</a></h4> 
	by Pablo Casado <br />
	<a href="https://twitter.com/hardlifeofapo" class="twitter-follow-button" data-show-count="false">Follow @hardlifeofapo</a>
	
	<br /><br />
	
	<h4><a href="http://hardlifeofapo.com/basic-couchbase-querying-for-sql-people/" target="_blank">Couchbase View Querying for SQL People</a></h4>
	by Pablo Casado <br />
	<a href="https://twitter.com/hardlifeofapo" class="twitter-follow-button" data-show-count="false">Follow @hardlifeofapo</a>
	
	<br /><br />
	
	<h4><a href="http://hardlifeofapo.com/couchbase-to-amazon-s3-back-up-script/" target="_blank">Couchbase backup to Amazon S3</a></h4>
	by Pablo Casado <br />
	<a href="https://twitter.com/hardlifeofapo" class="twitter-follow-button" data-show-count="false">Follow @hardlifeofapo</a><br />
	<a href="https://github.com/hardlifeofapo/couchbase_backup_s3" target="_blank">Github Repo</a>
	<br /><br />
	
	<h4><a href="http://nitschinger.at/A-Real-Time-chat-with-Play-Java-and-Couchbase-Part-1" target="_blank">Real Time Chat with Play Framework, Java & Couchbase</a></h4>
	by Michael Nitschinger <br />
	<a href="https://twitter.com/daschl" class="twitter-follow-button" data-show-count="false">Follow @daschl</a>
	
	<br /><br />
	
	<h4><a href="http://blogs.nologin.es/rickyepoderi/index.php?/archives/62-Couchbase-Manager-for-Glassfish-In-Action.html" target="_blank">Couchbase Manager in Glassfish</a></h4>
	by Ricky Poderi <br />
	<a href="https://github.com/rickyepoderi/couchbase-manager" target="_blank">Github Repo</a>
	
	<br /><br />

	<h4><a href="http://www.tonyfonager.com/going-all-in-on-nosql-couchbase/" target="_blank">Couchbase for Gaming/iOS with .NET</a></h4>
	by Tony Fonager <br />
	<a href="https://twitter.com/tonyfonager" class="twitter-follow-button" data-show-count="false">Follow @tonyfonager</a>
	
	<br /><br />
	
	<h4><a href="http://kyleheon.tumblr.com/post/30544540448/cutting-over-to-couchbase-2-0" target="_blank">Cutting Over to Couchbase 2.0</a></h4>
	by Kyle Heon <br />
	<a href="https://twitter.com/kyleheon" class="twitter-follow-button" data-show-count="false">Follow @kyleheon</a>
	
	<br /><br />
	
	<h4><a href="http://www.amainhobbies.com/FromTheCEO/2012/07/27/couchbase-caching-on-windows-for-asp-net/" target="_blank">Advanced High Performance Caching in .NET</a></h4>
	by Kendall Bennett <br />
	<a href="https://twitter.com/kendalljbennett" class="twitter-follow-button" data-show-count="false">Follow @kendalljbennett</a>
	
	<br /><br />
</p>

<h2>Couchbase Videos</h2><hr>
<br />

<h4><a href="http://vimeo.com/couchbase/videos" target="_blank">All Couchbase Videos on Vimeo</a></h4><br />
<h4><a href="http://www.youtube.com/user/CouchbaseVideo" target="_blank">Couchbase Channel on YouTube</a></h4><br />
<h4><a href="http://www.youtube.com/results?search_query=couchbase" target="_blank">Couchbase Videos on YouTube</a></h4><br />

<br /><br />

<h4>What is Couchbase?</h4>
<iframe src="http://player.vimeo.com/video/38259847?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/38259847">What Is Couchbase?</a> from <a href="http://vimeo.com/couchbase">Couchbase</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

<br /><br />

<h4>Developing with Couchbase I</h4>
<iframe src="http://player.vimeo.com/video/39735342?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/39735342">CouchConf London - Developing I</a> from <a href="http://vimeo.com/couchbase">Couchbase</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

<br /><br />

<h4>Developing with Couchbase II</h4>
<iframe src="http://player.vimeo.com/video/39735657?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/39735657">CouchConf London - Developing II</a> from <a href="http://vimeo.com/couchbase">Couchbase</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

<br /><br />

<h4>Developing with Couchbase III</h4>
<iframe src="http://player.vimeo.com/video/39735912?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/39735912">CouchConf London - Developing III</a> from <a href="http://vimeo.com/couchbase">Couchbase</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

<br /><br />
<!-- 
<br />
<h2>Couchbase Blogs</h2><hr>


<br />
<h2>Couchbase Official Links</h2><hr>


<br />
-->
