<% content_for :title, "About Couchbase" %>
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Couchbase</li>
</ul>

<h1>About Couchbase</h1>

<br />
<h3>Schema Flexible</h3>
<p class="w60">
  Couchbase allows you to develop your application more organically, iteratively and smoothly. Without the database enforced schema,
  you can add fields as JSON keys whenever you want. You can vary your JSON keys from object to object if needed (unique properties).
  More importantly you can do this while your application is live, you don't need to do migrations between every change, and you 
  don't need to take your application down.
</p>

<h3>Scalable</h3>
<p class="w60">
  Scalability is a highly ranked concern for many startups and larger applications alike. Scaling SQL requires a sophisticated 
  technical scheme involving master-slave replication, sharding data, and modifying schema to isolate on shards. This is time consuming
  and expensive in every aspect, and even with every caching and scaling technique utilized, performance can still be an issue. 
  Couchbase has a different strategy, scaling is a breeze, and it scales horizontally across commodity hardware. 
</p>

