<% content_for :title, "@scalabl3's calendar" %>
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">@scalabl3</li>
</ul>

<h1>@scalabl3's calendar</h1>

<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=scalabl3.com_d0irqrqu69mb26i77jh9k7r96s%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="950" height="800" frameborder="0" scrolling="no"></iframe>