<% content_for :title, "Views (Map/Reduce) Examples in Couchbase" %>
<% content_for :keywords, "map, reduce, map-reduce, examples, index, secondary index, couchbase" %>
<% content_for :description, "Views (Map-Reduce) Examples in Couchbase" %>
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/patterns">Indexes</a> <span class="divider">/</span>
  </li>
  <li class="active">Views (Map/Reduce) Examples</li>
</ul>

<div class="page-header">
  <h1>Views (Map/Reduce) Examples
		<small></small>
	</h1>
	<br />
	<p class="lead w80">Examples of Views (map/reduces) for common indexing tasks</p>
</div>

