<% content_for :title, "Elastic Search in Couchbase" %>
<% content_for :keywords, "full, text, search, fulltext search, full-text search, lucene, elastic search, xdcr, cross-data-center replication, cross data center replication, couchbase" %>
<% content_for :description, "Secondary Index in Couchbase using Elastic Search using Cross Data Center Replication (XDCR)" %>
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/patterns">Indexes</a> <span class="divider">/</span>
  </li>
  <li class="active">Elastic Search</li>
</ul>

<div class="page-header">
  <h1>Elastic Search
		<small>Full Text Search for Documents</small>
	</h1>
	<br />
	<p class="lead w80">Secondary Index using complete Document keys and values using Lucene based Elastic Search and all it's great features.</p>
</div>

Until I get a chance to write this up, check out: <a href="http://blog.couchbase.com/couchbase-and-full-text-search-couchbase-transport-elastic-search" target="_blank">Couchbase & Elastic Search</a>
and <a href="https://github.com/couchbaselabs/elasticsearch-transport-couchbase" target="_blank">Elastic Search Transport Couchbase</a>.