<% content_for :title, "Behavioral Strategies in Couchbase" %>
<% content_for :keywords, "cas, compare-and-swap, document design, multiple-documents, user modeling, behaviors, user behaviors, couchbase" %>
<% content_for :description, "Behavioral strategies give you a mental framework for deciding when to use single or multiple documents in your data model design. User behaviors tend to define how the model should function and can give strong clues as to how to structure documents as well." %>
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/strategies">Strategies</a> <span class="divider">/</span>
  </li>
  <li class="active">Behavioral</li>
</ul>

<br />
<div class="page-header">
  <h1>Behavioral Strategy
		<small>Creating Documents based on User Behaviors</small>
	</h1>
	<br />
	<p class="lead w80">This strategy describes a mental model for how to break up Object documents based on User behaviors to isolate the data, reduce chances for race conditions, and make code much easier to develop and maintain.</p>
	<p>
		Behavioral modeling is specific to how you break down documents for a particular class-object. 
	</p>
	
	<p>
		<h2>Work in Progress, Coming soon!</h2>
	</p>

</div>

<%= render :partial => "/layouts/comments" %>