<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Strategies</li>
</ul>

<h1>Strategies</h1>

<br /><br />

<h2><a href="/strategies/simple">Simple Model</a> <small>Modeling the Basic Object</small></h2>
<p class="w60">This strategy describes a basic mapping of instance variables to a Couchbase document in a direct relationship.</p>

<br /><br />

<h2><a href="/strategies/complex">Complex Model</a> <small>Modeling the Complex Object</small></h2>
<p class="w60">This strategy describes mapping of instance variables and collections to multiple Couchbase documents.</p>

<br /><br />

<h2><a href="/strategies/organic">Organic Strategy</a> <small>Modeling the Organic Way</small></h2>
<p class="w60">This strategy describes a mental model for how to think about modeling when transitioning from SQL to NoSQL with Couchbase.</p>

<br /><br />

<h2><a href="/strategies/behavioral">Behavioral Strategy</a> <small>Creating Documents based on User Behaviors</small></h2>
<p class="w60">This strategy describes a mental model for how to break up Object documents based on User behaviors to isolate the data, reduce chances for race conditions, and make code much easier to develop and maintain.</p>

