//= require_self
//= require google-code-prettify/prettify

@import bootstrap
@import bootstrap-responsive
@import bourbon

body 
  padding-top: 60px
  padding-bottom: 40px

.sidebar-nav 
  padding: 9px 0

.w500
  width: 500px

.w600
  width: 600px

.w50
  width: 50%

.w60
  width: 60%
  
.w70
  width: 70%
  
.w80
  width: 80%
  
h1.comment-title
  font-family: 'kepler-std-n3', 'kepler-std', 'lemonde-journal', baskerville, 'baskerville', 'palatino linotype', palatino, georgia, serif
  font-weight: 300
  letter-spacing: 0.05em
  font-size: 36px
  
dt
  font-size: 15px
dd
  margin-bottom: 15px

.navbar-inner
  border-top-left-radius: 0px
  border-top-right-radius: 0px
  
.hero-unit
  padding: 50px
  
.alert
  #color: darken(#C09853, 10%)

