<br />
<hr>
<br />
<% if session[:user] && session[:superuser] %>
  <script type="text/javascript">
    $(document).ready(function(){
    	pullComments();
    });
  </script>
  <div class='row-fluid'><div id="comment-input-width" class='span8'>
<% else %>
  <div style="display:none;">
<% end %>    

    <h1 class="comment-title">Q&A and Comments</h1>
    <form class="well">
				<div id="commenting-results" style="display:none"></div>
    		<textarea id="comment_text" name="comment_text" class="span12" placeholder="Please make your comment, or ask a question..."></textarea><br />
    		<button id="submit-comment" class="btn btn-primary" type="submit">Send</button>
    </form>

    <br />
  </div></div>
  <div id="comment-list" class="row-fluid"></div>    
