<div class="span2">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">						
			<li class="nav-header">Couchbase</li>
			<li><a href="/couchbase">About Couchbase</a></li>
			<li><a href="/content">Blogs, Videos, Links</a></li>
			
			<li class="nav-header">Key-Value Patterns</li>
			<li><a href="/patterns">Patterns</a></li>
			<li><a href="/patterns/counter_id">Counter-ID</a></li>
			<li><a href="/patterns/lookup">Lookup</a></li>
			<li><a href="/patterns/autoversioning">Auto Versioning</a></li>
			<li><a href="/patterns/smart_cas">Smart CAS</a></li>

			<li class="nav-header">Indexes & Views</li>
			<li><a href="/indexes">Overview</a></li>
			<li><a href="/indexes/anatomy">Anatomy of a View</a></li>
			<li><a href="/indexes/anatomy_reduce">Understanding Reduces</a></li>
			<li><a href="/indexes/examples">Example Map-Reduces</a></li>
			<li><a href="/indexes/elastic_search">Elastic Search</a></li>
      
			<li class="nav-header">Strategies</li>
			<li><a href="/strategies">Strategies</a></li>
			<li><a href="/strategies/simple">Simple Model</a></li>
			<li><a href="/strategies/complex">Complex Model</a></li>
			<li><a href="/strategies/organic">Organic</a></li>
			<li><a href="/strategies/behavioral">Behavioral</a></li>

			<li class="nav-header">Model Samples</li>
			<li><a href="/models">Models</a></li>
			<li><a href="/models/activity_stream">Activity Stream</a></li>
			<li><a href="/models/product_catalog">Product Catalog</a></li>
		</ul>
	</div><!--/.well -->
	<a href="https://twitter.com/scalabl3" class="twitter-follow-button" data-show-count="false">Follow @scalabl3</a>
	
	<a href="https://twitter.com/couchbase" class="twitter-follow-button" data-show-count="false">Follow @couchbase</a>

	<a href="http://scalabl3.com/" target="_blank" class="btn btn-info" style="margin-bottom: 4px;">Scalabl3 Tumblr</a><br />


	<a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:129px; height:20px; background:url('http://platform.tumblr.com/v1/share_3.png') top left no-repeat transparent;">Share on Tumblr</a>
</div><!--/span-->

