<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">      			
	    <li class="nav-header">Couchbase</li>
			<li><a href="/couchbase">About Couchbase</a></li>
  
      <li class="nav-header">Design Patterns</li>
			<li><a href="/patterns">Patterns</a></li>
      <li><a href="/patterns/counter_id">Counter-ID</a></li>
      <li><a href="/patterns/lookup">Lookup</a></li>

			<li class="nav-header">Strategies</li>
			<li><a href="/strategies">Strategies</a></li>
			<li><a href="/strategies/simple">Simple Model</a></li>
			<li><a href="/strategies/complex">Complex Model</a></li>
      <li><a href="/strategies/organic">Organic</a></li>
      <li><a href="/strategies/behavioral">Behavioral</a></li>

			<li class="nav-header">Model Samples</li>
      <li><a href="/models">Models</a></li>
      <li><a href="/models/activity_stream">Activity Stream</a></li>
			<li><a href="/models/product_catalog">Product Catalog</a></li>
    </ul>
  </div><!--/.well -->
  <a href="https://twitter.com/scalabl3" class="twitter-follow-button" data-show-count="false">Follow @scalabl3</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  
  <a href="https://twitter.com/couchbase" class="twitter-follow-button" data-show-count="false">Follow @couchbase</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div><!--/span-->
